QPushButton {
  color: #1C1C1C;
  background-color: #E5E5E5;
  border: none;
  border-radius: 10px;
}

QPushButton:hover {
	border: 2px dashed #1C1C1C;
  border-color: rgba(28, 28, 28, 220);
}

QPushButton:checked {
	border: 3px dashed #1C1C1C;
}
